npm-debug.log.*
*.sublime-*	*.sublime-*
scripts/*.sql	scripts/*.sql
 # *** Boilerplate auto-update files v3.0.107
/.dockerignore
/.editorconfig
/Dockerfile
/Makefile
/.npmrc
/docker/supervisor.conf
/newrelic.js
node_modules
